<div class="flex-container m-lg-5 mr-sm-0">
  <div class="flex-row mr-lg-5 mr-sm-0">
    <div class="col-12">
      <nav class="nav nav-tabs tab-colors" id="myTab" role="tablist">
        <a class="nav-link active"         id="nav-node-vis-graph-tab" data-toggle="tab" data-target="#nav-node-graph" role="tab" aria-selected="true">VIS Graph View</a>
        <a class="nav-link"                id="nav-node-list-tab"      data-toggle="tab" data-target="#nav-node-list"  role="tab" aria-selected="true" >List View</a>
        <a class="nav-link"                id="nav-monitoring-tab"     data-toggle="tab" data-target="#nav-monitoring" role="tab" aria-selected="false">Monitoring Details</a>
        <a class="nav-link"                id="nav-logs-tab"           data-toggle="tab" data-target="#nav-logs"       role="tab" aria-selected="false">Logs</a>
      </nav>
    </div>
  </div>
<div class="flex-row">
    <div class="tab-content" id="nav-tab-content">
         <div class="tab-pane fade show active" id="nav-node-graph" role="tabpanel" aria-labelledby="nav-node-vis-graph-tab">
            <p>testing a few things part 3</p>
            </div>
          <div class="tab-pane fade " id="nav-node-list" role="tabpanel" aria-labelledby="nav-node-list-tab">
            <app-my-component ></app-my-component>
          </div>

          <div class="tab-pane fade" id="nav-monitoring" role="tabpanel" aria-labelledby="nav-monitoring-tab" >
            <p>testing a few things part 1</p>
          </div>
          <div class="tab-pane fade" id="nav-logs" role="tabpanel" aria-labelledby="nav-logs-tab">
              <p>testing a few things part 2</p>
          </div>
        </div>
    
  </div>
</div>
